trunk/cxf-translator-ws/src/main/webapp/WEB-INF/wsdl/Translator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Translator"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:translate="http://agh.edu.pl/iosr/nuxeo/schema/Translator"
	xmlns:tns="http://agh.edu.pl/iosr/nuxeo/wsdl/Translator.wsdl"
	targetNamespace="http://agh.edu.pl/iosr/nuxeo/wsdl/Translator.wsdl">

   <wsdl:types>
      <xsd:schema targetNamespace="http://agh.edu.pl/iosr/nuxeo/schema/Translator">
         <xsd:element name="TranslateRequestWrapper">
            <xsd:complexType>
               <xsd:sequence>
      			  <xsd:element name="content" type="xsd:string"/>
				  <xsd:element name="srcLanguage" type="xsd:string"/>
				  <xsd:element name="destLanguage" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>	

   <wsdl:message name="translateRequest">
		<wsdl:part name="parameters" element="translate:TranslateRequestWrapper"/>
   </wsdl:message>
	<wsdl:message name="translateResponse">
		<wsdl:part name="translatedContent" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:portType name="TranslatorPortType">
		<wsdl:operation name="translate">
			<wsdl:input message="tns:translateRequest"/>
			<wsdl:output message="tns:translateResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="TranslatorBinding" type="tns:TranslatorPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="translate">
			<soap:operation soapAction=""/>
			<wsdl:input><soap:body use="literal"/></wsdl:input>
			<wsdl:output><soap:body use="literal"/></wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="TranslatorService">
		<wsdl:port name="TranslatorPort" binding="tns:TranslatorBinding">
			<soap:address location="http://localhost:8080/nuxeo/services/translator"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
