trunk/cxf-googletranslator-ws/src/main/webapp/WEB-INF/wsdl/Translator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Tomek (Home) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:translate="http://agh.edu.pl/iosr/nuxeo/schema/Translator" xmlns:tns="http://agh.edu.pl/iosr/nuxeo/wsdl/Translator.wsdl" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="Translator" targetNamespace="http://agh.edu.pl/iosr/nuxeo/wsdl/Translator.wsdl">
	<wsdl:types>
		<xsd:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://agh.edu.pl/iosr/nuxeo/schema/Translator" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"> 
			<xsd:element name="TranslateRequestWrapper">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="content" type="xsd:string"/>
						<xsd:element name="srcLanguage" type="xsd:string"/>
						<xsd:element name="destLanguage" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSupportedOperationsRequest"/>
			<xsd:element name="GetSupportedOptionsRequest"/>
			<xsd:simpleType name="Operation">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TRANSLATION"/>
					<xsd:enumeration value="LANGUAGE_DETECTION"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Option">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TRANSLATION_QUALITY"/>
					<xsd:enumeration value="TRANSLATION_DEADLINE"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="Operations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operations" type="translate:Operation" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Options">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="options" type="translate:Option" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="LanguagePair">
				<xsd:sequence>
					<xsd:element name="srcLanguage" type="xsd:language"/>
					<xsd:element name="destLanguage" type="xsd:language"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="LanguagePairs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="languagePairs" type="translate:LanguagePair" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSupportedDetectionsRequest"/>
			<xsd:element name="GetSupportedTranslationsRequest"/>
			<xsd:element name="Languages">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="languages" type="xsd:language" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TranslationQualities">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="translationQualities" type="translate:TranslationQuality" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSupportedQualitiesRequest"/>
			<xsd:element name="FileFormats">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mimeTypes" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSupportedFileFormatsRequest"/>
			<xsd:simpleType name="SourceType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="URI"/>
					<xsd:enumeration value="FILE"/>
					<xsd:enumeration value="STRING"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="GetSupportedSourceTypesRequest"/>
			<xsd:element name="SourceTypes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sourceTypes" type="translate:SourceType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PingRequest"/>
			<xsd:complexType name="TranslationQuality">
				<xsd:sequence>
					<xsd:element name="qualityName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="TranslationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="contentSource" type="translate:ContentSource"/>
						<xsd:element name="translationRequestID" type="xsd:string"/>
						<xsd:element name="sourceLanguage" type="xsd:language"/>
						<xsd:element name="destinationLanguage" type="xsd:language"/>
						<xsd:element name="translationQuality" type="translate:TranslationQuality" minOccurs="0"/>
						<xsd:element name="deadline" type="xsd:dateTime" minOccurs="0"/>
						<xsd:element name="callbackEndpoint" type="translate:CallbackEndpoint"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ContentSource" abstract="true">
				<xsd:sequence>
					<xsd:element name="sourceType" type="translate:SourceType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StringContentSource">
				<xsd:complexContent>
					<xsd:extension base="translate:ContentSource">
						<xsd:sequence>
							<xsd:element name="text" type="xsd:string"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CallbackEndpoint">
				<xsd:sequence>
					<xsd:element name="endpointURI" type="xsd:anyURI"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="DetectionRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="contentSource" type="translate:ContentSource"/>
						<xsd:element name="detectionRequestID" type="xsd:string"/>
						<xsd:element name="deadline" type="xsd:dateTime" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="FileContentSource">
				<xsd:complexContent>
					<xsd:extension base="translate:ContentSource">
						<xsd:sequence>
							<xsd:element name="file" type="xsd:base64Binary" 
									 xmime:expectedContentTypes="application/octet-stream"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="URIContentSource">
				<xsd:complexContent>
					<xsd:extension base="translate:ContentSource">
						<xsd:sequence>
							<xsd:element name="URI" type="xsd:anyURI"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="FileHandler"/>      
		</xsd:schema>
    </wsdl:types>
	<wsdl:message name="translateRequest">
		<wsdl:part name="in" element="translate:TranslationRequest"/>
	</wsdl:message>
	<wsdl:message name="translateResponse">
		<wsdl:part name="translatedContent" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getSupportedOperationsRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedOperationsRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedOperationsResponse">
		<wsdl:part name="parameter" element="translate:Operations"/>
	</wsdl:message>
	<wsdl:message name="getSupportedOptionsRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedOptionsRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedOptionsResponse">
		<wsdl:part name="parameter" element="translate:Options"/>
	</wsdl:message>
	<wsdl:message name="getSupportedDetectonsRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedDetectionsRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedDetectionsResponse">
		<wsdl:part name="parameter" element="translate:Languages"/>
	</wsdl:message>
	<wsdl:message name="getSupportedTranslationsRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedTranslationsRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedTranslationsResponse">
		<wsdl:part name="parameter" element="translate:LanguagePairs"/>
	</wsdl:message>
	<wsdl:message name="getSupportedQualitiesRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedQualitiesRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedQualitiesResponse">
		<wsdl:part name="parameter" element="translate:TranslationQualities"/>
	</wsdl:message>
	<wsdl:message name="getSupportedFileFormatsRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedFileFormatsRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedFileFormatsResponse">
		<wsdl:part name="parameter" element="translate:FileFormats"/>
	</wsdl:message>
	<wsdl:message name="getSupportedSourceTypesRequest">
		<wsdl:part name="parameter" element="translate:GetSupportedSourceTypesRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupportedSourceTypesResponse">
		<wsdl:part name="parameter" element="translate:SourceTypes"/>
	</wsdl:message>
	<wsdl:message name="PingRequest">
		<wsdl:part name="parameter" element="translate:PingRequest"/>
	</wsdl:message>
	<wsdl:message name="PingResponse">
		<wsdl:part name="parameter" type="xsd:boolean"/>
	</wsdl:message>
	<wsdl:message name="detectLanguageRequest">
		<wsdl:part name="detectionRequest" element="translate:DetectionRequest"/>
	</wsdl:message>
	<wsdl:message name="detectLanguageResponse">
		<wsdl:part name="parameter" type="xsd:language"/>
	</wsdl:message>
	<wsdl:message name="ContentExtractionException">
		<wsdl:part name="descritpion" type="xsd:string"/>
	</wsdl:message>	
	<wsdl:message name="DetectionException">
		<wsdl:part name="descritpion" type="xsd:string"/>
	</wsdl:message>
	<wsdl:portType name="TranslatorPortType">	
		<wsdl:operation name="translate">
			 <wsdl:input message="tns:translateRequest" name="translateRequest" />		
	<!--		 <wsdl:output message="tns:translateResponse"/>  -->
	<!--		<wsdl:fault name="wrongSourceType" message="tns:SourceTypeNotSupported"/>-->
		</wsdl:operation>
		<wsdl:operation name="getSupportedOperations">
			<wsdl:input message="tns:getSupportedOperationsRequest"/>
			<wsdl:output message="tns:getSupportedOperationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSupportedOptions">
			<wsdl:input message="tns:getSupportedOptionsRequest"/>
			<wsdl:output message="tns:getSupportedOptionsResponse"/>
		</wsdl:operation>		
		<wsdl:operation name="getSupportedTranslations">
			<wsdl:input message="tns:getSupportedTranslationsRequest"/>
			<wsdl:output message="tns:getSupportedTranslationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSupportedDetections">
			<wsdl:input message="tns:getSupportedDetectonsRequest"/>
			<wsdl:output message="tns:getSupportedDetectionsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSupportedQualities">
			<wsdl:input message="tns:getSupportedQualitiesRequest"/>
			<wsdl:output message="tns:getSupportedQualitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSupportedFileFormats">
			<wsdl:input message="tns:getSupportedFileFormatsRequest"/>
			<wsdl:output message="tns:getSupportedFileFormatsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSupportedSourceTypes">
			<wsdl:input message="tns:getSupportedSourceTypesRequest"/>
			<wsdl:output message="tns:getSupportedSourceTypesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:PingRequest"/>
			<wsdl:output message="tns:PingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="detectLanguage">
			<wsdl:input message="tns:detectLanguageRequest"/>
			<wsdl:output message="tns:detectLanguageResponse"/>
			<wsdl:fault name="detectionException" message="tns:DetectionException"/>
			<wsdl:fault name="contentExtractionException" message="tns:ContentExtractionException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TranslatorBinding" type="tns:TranslatorPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="translate">
			<soap:operation soapAction=""/>
			<wsdl:input  name="translateRequest" >
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getSupportedOperations">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedOptions">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedTranslations">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedDetections">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedQualities">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedFileFormats">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedSourceTypes">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="detectLanguage">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GoogleTranslatorService">
		<wsdl:port name="TranslatorPort" binding="tns:TranslatorBinding">
			<soap:address location="http://localhost:8090/cxf-googletranslator-ws/services/translator"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="OtherTranslatorService">
		<wsdl:port name="TranslatorPort" binding="tns:TranslatorBinding">
			<soap:address location="http://localhost:8080/cxf-other-ws/services/othertranslator"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
